<header class="header">
  <div class="logo">
    <a routerLink="/shop" class="logo-link">MY ANGULAR APP</a>
  </div>
  <div class="user-section">
    <ng-container *ngIf="authService.isAuthenticated$ | async">
      <div class="cart-icon" (click)="toggleCartSidebar()">
        🛒
        <ng-container *ngIf="(cartCount$ | async) as cartCount">
          <span class="cart-count" *ngIf="cartCount > 0">{{ cartCount }}</span>
        </ng-container>
      </div>
      
      <span [routerLink]="(authService.isAdmin() | async) ? ['/admin/products'] : null"
            [class.admin-email]="authService.isAdmin() | async"
            [class.user-email]="!(authService.isAdmin() | async)"
            class="email-display">
        {{ authService.userEmail$ | async }}
      </span>
      <button class="theme-toggle" (click)="themeService.toggleTheme()">
        {{ (themeService.isDarkTheme$ | async) ? '☀️' : '🌙' }}
      </button>
      <button class="logout-btn" (click)="logout()">Logout</button>
    </ng-container>

    <ng-container *ngIf="!(authService.isAuthenticated$ | async)">
      <div class="cart-icon" (click)="toggleCartSidebar()">
        🛒
        <ng-container *ngIf="(cartCount$ | async) as cartCount">
          <span class="cart-count" *ngIf="cartCount > 0">{{ cartCount }}</span>
        </ng-container>
      </div>
            
      <button class="theme-toggle" (click)="themeService.toggleTheme()">
        {{ (themeService.isDarkTheme$ | async) ? '☀️' : '🌙' }}
      </button>
      <button class="login-btn" routerLink="/login">Login</button>
      
    </ng-container>
  </div>
</header>

<!-- Sidebar giỏ hàng -->
<div class="cart-sidebar" [class.open]="isCartOpen">
  <div class="cart-header">
    <h2>Shopping Cart</h2>
    <button class="close-btn" (click)="toggleCartSidebar()">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="cart-content">
    <p *ngIf="(cartItems$ | async)?.length === 0">No products in the cart!</p>
    <div class="cart-items" *ngFor="let item of cartItems$ | async">
      <img [src]="item.image" [alt]="item.title" class="cart-item-img">
      <div class="cart-item-info">
        <p class="cart-item-title">{{ item.title }}</p>
        <div class="cart-item-details">
          <p class="cart-item-price">Price: ${{ item.price }}</p>
          <div class="quantity-control">
            <button (click)="updateItemQuantity(item.id, item.quantity - 1)" 
                    [disabled]="item.quantity <= 1" class="quantity-btn">-</button>
            <span class="quantity-display">{{ item.quantity }}</span>
            <button (click)="updateItemQuantity(item.id, item.quantity + 1)" class="quantity-btn">+</button>
          </div>
          <button class="cart-item-remove" (click)="removeItem(item.id)">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  
    <!-- Tổng giỏ hàng -->
    <div class="cart-total">
      <p>Total: ${{ cartTotal$ | async }}</p>  <!-- Lấy giá trị từ cartTotal$ -->
    </div>

</div>

<!-- Overlay để bấm ra ngoài đóng sidebar -->
<div class="cart-overlay" *ngIf="isCartOpen" (click)="toggleCartSidebar()"></div>
